* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;

    background-color: #FAFAFA;

    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 100vw;
    max-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 55vw;
    margin-top: 110px;
}

header {
    max-width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#logo {
    font-family: 'PT Serif', serif;
    text-decoration: none;
    font-size: 36px;
    font-weight: 700;
    color: black;
}

.text {
    max-width: 370px;
    font-size: 18px;
    font-weight: 400;
    justify-content: left;
}

#title-text {
    font-weight: 600;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 96px;
    gap: 93px;
    justify-content: center;
}

.profile {
    display: flex;
    width: 277px;
    height: 470px;
}

img {
    width: 238px;
    height: 341px;
    object-fit: cover;
}

.name {
    font-weight: 600;
    margin-top: 10px;
}

.function {
    font-family: 'PT Serif', serif;
    writing-mode: vertical-lr;
    font-size: 12px;
    margin-left: 5px;
}

#profile-margin {
    margin-top: 100px;
}

.profile-position {
    margin-top: -100px;
}

@media screen and (max-width: 1016px) {
    .profile-position {
        margin-top: 0px;
    }

    .profile-position2 {
        margin-top: -100px;
    }
}

@media screen and (max-width: 1849px) {
    .container {
        max-width: 60vw;
    }
}

@media screen and (max-width: 1694px) {
    .container {
        max-width: 65vw;
    }
}

@media screen and (max-width: 1564px) {
    .container {
        max-width: 70vw;
    }
}

@media screen and (max-width: 1452px) {
    .container {
        max-width: 75vw;
    }
}

@media screen and (max-width: 1355px) {
    .container {
        max-width: 80vw;
    }
}

@media screen and (max-width: 1271px) {
    .container {
        max-width: 85vw;
    }
}

@media screen and (max-width: 1196px) {
    .container {
        max-width: 90vw;
    }
}

@media screen and (max-width: 1128px) {
    .container {
        max-width: 95vw;
    }
}

@media screen and (max-width: 1070px) {
    .container {
        max-width: 65vw;
    }
    header {
        gap: 10px;
    }
}

@media screen and (max-width: 995px) {
    .container {
        align-items: center;
        max-width: 80vw;
    }
    header {
        width: 400px;
    }


}

@media screen and (max-width: 808px) {
    .container {
        align-items: center;
        max-width: 99vw;
    }
    main {
        gap: 10px;
    }
}

@media screen and (max-width: 578px) {
    .profile-position {
        margin-top: 0px;
    }

    .profile-position2 {
        margin-top: 0px;
    }
    .container {
        align-items: center;
        max-width: 90vw;
    }
    main {
        gap: 1px;
    }

    #profile-margin {
        margin-top: 0;
    }
}